<h1><%= t('.registration') %></h1>
<%= form_with model: @user, local: true do |f| %>
  <div class="form_group">
    <%= f.label 'name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form_group">
    <%= f.label 'email' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form_group">
    <%= f.label 'password' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form_group">
    <%= f.label 'password_confirmation' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit 'Regist', class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to t('.to_login'), login_path %>
